*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Space Grotesk", sans-serif;
}

body {
    font-family: "Sora", sans-serif;
    background-color: var(--darkBg);
    color: var(--white);
}

.content-wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 8rem auto;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Animated text*/
.animated-text {
    display: inline-block;
    overflow: hidden;
  }

  .word {
    white-space: nowrap;
    display: inline-block;
  }
  
  .letter {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.25s ease, transform 0.25s ease;
  }
  
  .letter.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
}
  