*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Space Grotesk", sans-serif;
}

body {
    font-family: "Sora", sans-serif;
    background-color: var(--darkBg);
    color: var(--white);
}

.content-wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 8rem auto;
}