#contactForm {
    margin: 1rem 0;
}

#contactForm input {
    margin: 1rem 0;
}

.contact-success-wrapper, .contact-failed-wrapper, .contact-sending-wrapper {
    border-radius: 10px;
    padding: 1rem;
}

.contact-success-wrapper {
    background-color: #E2F5E5;
    border: 2px solid green;
}

.contact-failed-wrapper {
    background-color: #F5E2E2;
    border: 2px solid red;
}

.contact-sending-wrapper {
    background-color: #F5F2E2;
    border: 2px solid #8A7300;
}

.contact-success-title, .contact-failed-title, .contact-sending-title {
    font-weight: bold;
}

.contact-success-title {
    color: green;
}

.contact-failed-title {
    color: red;
}

.contact-sending-title {
    color: #8A7300;
}

.contact-success-title i, .contact-failed-title i, .contact-sending-title i {
    margin-right: 0.25rem;
}

.contact-success-text, .contact-failed-text, .contact-sending-text {
    margin-top: 0.5rem;
    color: var(--permBlack);
}

.contact-button {
    font-family: inherit;
    text-transform: capitalize !important;
}

.spinner {
    width: 100%;
    height: 100%;
    border: none;
    transform: scale(1.45);
}