.home-wrapper, .about-wrapper, .blog-wrapper {
    display: flex;
    justify-content: space-between;
}

.home-left, .about-left, .blog-left {
    flex: 1;
    background-color: var(--darkGrey);
    max-width: 275px;
    border-radius: 20px;
    height: fit-content;
}

.home-right, .about-right, .blog-right {
    flex: 2;
    overflow-y: auto;
    height: 80vh;
}

.home-right .projects-wrapper, .blogs-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.projects-card-wrapper {
    margin: 0 0 1rem 1rem;
    background-color: var(--darkGrey);
    border-radius: 20px;
    position: relative;
    transition: transform 0.3s ease;
}

.projects-card-wrapper:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.projects-card-wrapper:hover .projects-card-desc {
    margin-top: 0;
    cursor: pointer;
}

.home-right img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.bio-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

.bio-img-wrapper {
    margin-bottom: 1rem;
}

.bio-wrapper img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--theme);
}

.bio-info-name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.bio-links-wrapper {
    margin-top: 1rem;
}

.bio-links-wrapper a {
    font-size: 1.5rem;
    color: var(--lightBg);
}

.projects-card-tags-wrapper {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.projects-card-tags-wrapper span {
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    margin-right: 0.5rem;
    font-size: 0.9rem;
}

.projects-card-tags-wrapper .react {
    background-color: #61DBFB;
    color: #000;
}

.projects-card-tags-wrapper .open-ai {
    background-color: #000;
    color: #fff;
}

.projects-card-tags-wrapper .javascript {
    background-color: #F0DB4F;
    color: #323330;
}

.projects-card-info-wrapper {
    margin: 1rem;
}

.projects-card-title {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.projects-card-info-wrapper p {
    margin: 0.5rem 0 1rem;
    transition: margin 0.3s ease;
}