:root {
    --darkBg: #121212;
    --darkGrey: #222222;
    --lightBg: #FAFAFA;
    --black: #000;
    --white: #fff;
    --theme: #5A31B0;
    --permBlack: #000;
    --permWhite: #fff;
    --red: #bd2c00;
    --green: #00bd2c;
}

.light {
    --darkBg: #FAFAFA;
    --darkGrey: #f3f3f3;
    --lightBg: #121212;
    --black: #fff;
    --white: #000; 
}