:root {
    --darkBg: #121212;
    --darkGrey: #222222;
    --lightBg: #FAFAFA;
    --black: #000;
    --white: #fff;
    --theme: #5A31B0;
}

.light {
    --darkBg: #FAFAFA;
    --darkGrey: #DDDDDD;
    --lightBg: #121212;
    --black: #fff;
    --white: #000;    
}